:root{
    --primary-color:#bc6c25;
    --secondary-color:#4d3822;
    --hover-color:#e76f51;
    --section-color:#b78752;
}

*{
    font-family: "Plus Jakarta Sans", sans-serif
}

/* NAVBAR */

.navbar{
    background-color: transparent !important;
    position: fixed;
    z-index: 5;
    width: 100%;
}

.navbar .container{
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.navbar-nav{
    font-size: 1.3rem;
    font-weight: bold;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: var(--primary-color);
}

/* Carousel */

.carousel-item{
    height: 100vh;
    position: relative;
}

.carousel-item img{
    height: 100%;
    object-fit: cover;
}

.carousel-caption{
    /* border: 2px solid red; */
    bottom: 40%;
}

.carousel-caption .btn{
    background-color: var(--primary-color) !important;
    border: none;
    width: 10rem;
    color: white;
    white-space: nowrap;
    font-weight: bold;
}

.carousel-caption .btn:first-child{
    background-color: transparent !important;
}

.carousel-caption .btn:first-child:hover{
    background-color: white !important;
    color: black;
}

.hero{
    position: relative;
    z-index: 3;
}

.black{
    width: 450px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.838);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(40deg);
}